.advertiseBackground{
    background: rgba(207, 207, 207, 0.8) url(../../../../assets/images/advertise.jpeg);
    background-attachment: fixed;
    background-blend-mode: multiply;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}